.header-section {
    font-size: 20px;
    font-weight: 400;
    color: black;
}
#navbarNav{
    margin-left: 200px;
}
 .nav-item{
    margin-left: 50px;
}
.nav-img {
    height: 70px;
}

/* responsive */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #navbarNav{
        margin-left: 50px;
    }
    .nav-item{
        margin-left: 5px;
    }
 }